@use '../../style' as s;

@use '../../style/form.scss' as form;

.page__section {
  gap: s.space(3);
}

.user {
  display: flex;
  flex-direction: column;
  gap: s.space(2);

  &--click {
    @include s.click;
    text-decoration: none;
  }

  &__title {
    font-size: 17px;
    height: 17px;
    color: s.color(gray);
  }

  &__sub {
    font-size: 14px;
    height: 14px;
    color: s.color(light);
  }

  padding: 10px;
  // margin: 10px;
  border-radius: 5px;
  border: 1px solid s.color(divider);

  &:hover {
    scale: 1.01;
    transition: 0.3s;
  }
}
